._carouselImg {
    width: auto;
    height: 300px;
}

._bottomCard {
    margin-top: -50px;
    transition: all 0.5s ease-in-out;
}

._bottomCard:hover {
    box-shadow: 0 0 3px black;
    transform: scale(1.1);
}