._signouticon {
    color: white;
    margin-top: 12px;
    margin-left: 10px;
}

._signouticon:hover {
    cursor: pointer;
}

#username {
    /* font-size: small; */
    width: 100%;
}

#username:hover {
    cursor: pointer;
}